@charset "UTF-8";

div{
    text-align: center;
    background: black;
    color: white;
    width: 400px;
    height: 200px;
    border: 3px solid #73AD21;
    margin-left: 1%;
    margin-top: 10pt;
    margin-bottom: 0px;
    display:inline-table;
    padding: 10px;
    
}
div#subtracao{
    margin-top: 20pt;

}
button{
    margin-top: 20px;
    height: 35px;
    width: 90%;
}

input{
    text-align: center;
}

div#multiplicacao {
    height: 207px;
    margin-top: 10px;
}

div#divisao {
    margin-left: 17%;
    margin-top: 0px;
}

h1#titulo {
    text-align: center;
    margin-bottom: 0px;
}