@charset "UTF-8";

div{
    text-align: center;
    background: black;
    color: white;
    width: 400px;
    height: 200px;
    border: 3px solid #73AD21;
    margin-left: 1%;
    margin-top: 50pt;
}
div#subtracao{
    margin-top: 50pt;
}
button{
    margin-top: 20px;
    height: 35px;
    width: 90%;
}

input{
    text-align: center;
}