@charset "UTF-8";

body {
    background-color: #DBDCDE;
}

#container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#box {
    width: 450px;
    height: 780px;
    background: #fff;
    margin-top: 50px;
    border-radius: 10%;
    box-shadow: 0px 5px 20px black;
}


#resultado {
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
    text-align: center;
    height: 200px;
    width: 100%;
    margin-top: 55px;
    border-radius: 5%;
    font-size: 50px;
    word-wrap: break-word; 
}

#botoes {
    margin: 40px;
}

input {
    display: inline-block;
    font-size: 30px;
    padding: 20px;
    margin: 5px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 0px 5px black;
    border-color: white;
    border-width: 0.5px;
    font-weight: bold;
}

#acoes {
    background-color: #A6A6A6;
    border-radius: 50%;
}

#linha1 {
    margin-left: -5px;
}

#operadores {
    background-color: #FC9406;
    color: white;
}

#numeros {
    background-color: black;
    color: white;
}